@charset "UTF-8";

	/***************** Header ********************/
	header {
		width: 100%;
		height: 141px;
		background-color: white;
		position: fixed;
		top: 0px;
		border-bottom: 1px solid #ffbc0d;
	}
	
	.h_menu {
		float: left;
	}
	
	#headarea {
		width: 1168px;
		height: 140px;
		background-color: white;
		margin: 0 auto;
	}
	
	#headlogo {
		width: 106px;
		height: 140px;
		padding: 24px 0px;
		box-sizing: border-box;
	}
	
	#headnav {
		width: 684px;
		height: 141px;
		padding-left: 90px;
		text-align: left;
	}
	
	#headnav li {
		float: left;
		width: auto;
		height: 141px;
		list-style: none;
	}
	
	#headnav a {
		margin-right: 60px;
		padding: 0 10px;
		color: #292929;
		font-size: 19px;
		font-weight: 600;
		line-height: 141px;
		text-decoration: none;
	}
	
	#headOption {
		width: 228px;
		height: 141px;
		margin: 0 0 0 50px;
		float: right;
		line-height: 141px;
	}
	
	#headOption li {
		float: right;
		width: auto;
		height: 141px;
		list-style: none;
	}
		
	#headOption a {
		color: white;
		text-decoration: none;
		font-size: 13px;
		font-weight: 600;
		border-radius: 25px;
		border-width: 200px;
		width: 80px;
	}
	
	.recruit {
		background: #ffbc0d;
		margin-left: 10px;
	}
	
	.eng {
		background: #264a36;
		margin-left: 5px;
	}
	
	#headSearch {
		width: 36px;
		height: 141px;
		padding: 52.5px 0;
		margin: 0 26px;
		float: right;
	}
	
	.search {
		float: right;
	}
	
		
	/****************** Footer ********************/
	footer {
		width: 100%;
		height: 257px;
		background-color: orange;
	}
	
	#footarea {
		width: 1168px;
		height: 157px;
		padding: 45px 0 55px;
		text-align: left;
		margin: 0 auto;
		background-color: yellowgreen;
	}
	